<!doctypehtml>
<html>
<head>
    <meta charset="utf-8">
    <title> IITM MAD-1 MUSIC APP </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
  </head>

<body>
    <div class="container text-center bg-primary text-white">
          <div class="col-8 gx=5 ">
            <h1 class = "display-3"> MAD Music Online    </h1>
          </div>
    </div>

    <div class="container text-center bg-success p-2 text-dark bg-opacity-10">
        <div class="col-8 gx=5">
          <h1 class = "display-4">    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    &nbsp; &nbsp;  &nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp;

        </h1>

  </div>

    <div class="container text-center bg-success p-2 text-dark bg-opacity-10" >
        <h1 class = "display-4"> Admin Login </h1>
        <h1 class = "display-4">   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; </h1>
        <form>
        <div class="form-group row g =25">
            <label for="exampleFormControlInput1"class="col-sm-2 col-form-label">Email address</label>
          <div class="col-sm-10 g =25">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <h1 class = "display-4">   &nbsp;  </h1>
          <div class="form-group row g =25">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10 g =25">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          </div>
        </div>
        </form>
    </div>
        <h1 class = "display-4">   &nbsp;&nbsp;&nbsp;      </h1>
        <div class="btn-group g=5 " role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary ">Login</button>
            <button type="button" class="btn btn-outline-primary ">Register</button>
        </div>
    </div>

    <div class="container text-center bg-success p-2 text-dark bg-opacity-10">
        <div class="col-8 gx=5">
          <h1 class = "display-4">   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    &nbsp; &nbsp;  &nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
          </h1>
</body>
</html>